.section-main-div {
    display: flex;
    align-items: center;

}

.section-img {
    position: relative;
    right: 0;
    top: 0;
}

.section-text-div {
    margin-left: 110px;
}

.section-h1 {
    font-size: 68px;
    font-weight: 700;
    font-family: Roboto;
    color: rgba(33, 31, 84, 1);
    margin-bottom: 22px;
}

.section-p {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    color: rgba(110, 113, 145, 1);
    line-height: 30px;
    margin-bottom: 34px;

}

.section-buttons-div {
    display: flex;
}