.footer-main-div {
    margin: 0 86px;
}

.footer-total-div {
    margin: 140px 24px;
    display: flex;

}

.footer-h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: rgba(33, 31, 84, 1);
    max-width: 256px;
}

.footer-h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: rgba(33, 31, 84, 1);
    margin-bottom: 29px;

}

.footer-h5 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: rgba(33, 31, 84, 1);
    min-width: 164px;
}

.footer-p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(110, 113, 145, 1);
    max-width: 304px;
    margin-top: 7px;
    margin-bottom: 34px;
}

.footer-star-div {
    min-width: 312px;
}

.footer-star-box {
    margin-right: 16px;
    margin-bottom: 30px;
}

.footer-single-div {
    margin-right: 40px;
}

.footer-single-div:last-child {
    margin-right: 0px;
}

.footer-phone {
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 117, 255, 1);
}

.footer-end-div {
    margin: 0 24px;
    border-top: 1px solid rgba(239, 240, 246, 1);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-end-div p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(110, 113, 145, 1);
}